* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: center;
}

nav > ul {
	display: flex;
}
nav > ul > li {
	list-style: none;
	margin: 5px 20px;
}

img {
	width: 100%;
}

.projects {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}

.projects > div {
	width: 50%;
}

.project-title {
	text-align: center;
}
