* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: center;
}

nav > ul {
	display: flex;
}
nav > ul > li {
	list-style: none;
}

img {
	width: 100%;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.projects > div {
	width: 33%;
}
